header{
  display:flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo{
  display:flex;
}

.logo span {

  color:MediumAquamarine;
}

nav{
  display:flex;
}

nav span{
  display:inline-block;
  padding: 20px 20px;
}
