header{
  display: flex;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: 80px;
  width: 100%;
  z-index: 1;
}
.logo{
  display: flex;
  padding-left: 30px;
  height: 60px;
}

.logo span {

  color:MediumAquamarine;
  padding: 20px 10px;
}

nav{
  display: flex;
  align-content: flex-end;
}

nav span{
  display:inline-block;
  padding: 20px 20px;
}
a{
  color: black;

}
