header{
  display: flex;
  align-items: center;
  position:fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
}
header nav {
  padding-right: 30px;

}

.logo {
  display: flex;
  padding-left: 30px;
  height: 60px;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
}

.logo span {

  color:MediumAquamarine;
}

.logo img{
width: 70px;
height: 60px;
padding-right: 12px;

}

nav {

  height: 60px;
  flex-shrink: 0;

}

nav span{
  display:inline-block;
  padding: 20px 20px;
}

a{
  color: black;

}
.content{
  display: flex;
  border: 1px solid black;
  width:1232px;
  flex-direction: column;
  margin:0,auto,0, 0;

}

.column{
  display:flex;
  flex-direction: column;
}
/* First news column */

.column .large {
  width:630px;
  display:flex;
}

.main-story .image-content{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width:630px;
  display:flex;
}
.text-content{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.text-content p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
/* Second news column */
.column.medium {
  width: 300px;
}
/* Third news column */
.column.small {
  width: 240px;
}
