header{
  display:flex;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: 80px;
  width: 100%
}
.logo{
  display:flex;
  padding-left: 30px;
}

.logo span {

  color:MediumAquamarine;
  padding: 20px 10px;
}

nav{
  display:flex;
}

nav span{
  display:inline-block;
  position: fixed;
  color: black;
  padding: 20px 20px;
}
